POSTGRES_PASSWORD=secret_root_password
DATABASE_HOST=localhost
DATABASE_USER=dbuser
DATABASE_NAME=dbname
DATABASE_PASSWORD=dbpassword
SECRET_KEY=ru34hrlkq3hkrfnelkfnbqek4brekbfnreklfbnqk
FQDN=localhost

